{lib_dirs, ["apps", "../../apps"]}.
{port_sources, ["c_src/x264.c", "c_src/faac.c"]}.
{so_specs, [
  {"priv/x264.so", ["c_src/x264.o"]},
  {"priv/faac.so", ["c_src/faac.o"]}
]}.
{port_envs, [
  {"(linux)", "LDFLAGS", "$LDFLAGS -lswscale -lx264 -lfaac"}
]}.
{pre_hooks, [{compile, "rm -f src/._*.erl"}]}.

